.filter_button {
    background: var(--color-primary-light);
    letter-spacing: 1px;
    color: var(--color-white);
    border: 5px solid var(--color-primary);

}

.filter_button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 5px solid var(--color-primary);
    font-weight: 600;
}

.league_filter {
    background-color: var(--color-primary);
}