.login_container {
    padding-top: 50%;
}

.registration_container {
    padding-top: 15%;
}

.highlight_empty {
    border: 2px solid #ff8080; /* Brighter red color */
    border-radius: 5px; /* Rounded border */
  }
  
  /* Style the input fields with a light red background */
  .highlight_empty input {
    background-color: #ffe6e6; /* Light red background color */
  }

/* 
    Styling for small screens
*/
@media (max-width: 575px) {
    .auth_container {
        width: 80%;
        margin: auto;
        max-height: 100vh;
    }

}

/* 
    Styling for medium screens
*/
@media (min-width: 576px) and (max-width: 767px) {
    .auth_container {
        width: 80%;
        margin: auto;
        height: 100vh;
    }
}

/* 
    Styling for large screens
*/
@media (min-width: 768px) {
    .auth_container {
        width: 500px;
        margin: auto;
        height: 100vh;
    }

}